$background-color1:#10BBD5;
$background-color2:#FFFFFF;
$background-color3:#EEEEEF;
$background-color4:#4C394E;
$background-color5:#4D762D;

$hover-color1:#744978;
$hover-color2:#6DB236;

$txt-color-black:#000000;
$txt-color-white:#F8FDFE;
$txt-color-grey:#8E8E8E;
$txt-color-red:#E90000;

$badge-color-hit:#4200FF;
$badge-color-new:#AF39E7;
$badge-color-disc:#EA33C0;

$line-color:#A8A8A8;



