.badge {
    position: absolute;
    height: 32px;
    display: flex;
    gap: 4px;
}

.badge--hit{
    @include badge($badge-color-hit);
}

.badge--new{
    @include badge($badge-color-new);
}

.card__discount{
    @include badge($badge-color-disc);
}